/*@media (max-width: 767px){

	body{
		background-color: red;
	}

	.shop_icon_resize{
		margin-top: -5px;
		margin-right: 3px;
		width:25px;
		height: 25px;
	}

}

@media (min-width: 768px) {
	body{
		background-color: violet;
	}

	.shop_icon_resize{
		margin-top: -5px;
		margin-right: 3px;
		width:25px;
		height: 25px;
	}
	.red{
		color: red;
	}
	.logo > h1 > a {
		color: black;
		font-family: logo, helvetica;
	}
	.raise{
		margin-top: -10px;
	}
	.shop_icon_resize{
		margin-top: -5px;
		margin-right: 3px;
		width:25px;
		height: 25px;
	}
	.black-icons > li > a > i {
		color: black;
	}
	.reshape{
		width: 220px;
		height: 275px;
	}
	.border-no-hr{
		border:solid 1px #000;
		margin-top: -25px;
	}
	.bigger-h1-font{
		font-size: 50px;
		display: inline;
	}
	.drop{
		margin-top: 32px;
	}
}

@media (min-width: 1024px) {
	body{
		background-color: cyan;
	}
	.red{
		color: red;
	}
	.logo > h1 > a {
		color: black;
		font-family: logo, helvetica;
	}
	.raise{
		margin-top: -10px;
	}
	.shop_icon_resize{
		margin-top: -5px;
		margin-right: 3px;
		width:25px;
		height: 25px;
	}
	.black-icons > li > a > i {
		color: black;
	}
	.reshape{
		width: 220px;
		height: 275px;
	}
	.border-no-hr{
		border:solid 1px #000;
		margin-top: -25px;
	}
	.bigger-h1-font{
		font-size: 50px;
		display: inline;
	}
	.drop{
		margin-top: 32px;
	}

}

@media (min-width: 1200px) {
	body{
		background-color: white;
	}
	.red{
		color: red;
	}
	.logo > h1 > a {
		color: black;
		font-family: logo, helvetica;
	}
	.raise{
		margin-top: -10px;
	}
	.black-icons > li > a > i {
		color: black;
	}
	.reshape{
		width: 220px;
		height: 275px;
	}

	.shop_icon_resize{
		margin-top: -5px;
		margin-right: 3px;
		width:25px;
		height: 25px;
	}
	.border-no-hr{
		border:solid 1px #000;
		margin-top: -25px;
	}

	.bigger-h1-font{
		font-size: 50px;
		display: inline;
	}
	.drop{
		margin-top: 32px;
	}
}*/

