@font-face{
	font-family: logo;
	src: url('../fonts/msyi.ttf') format('truetype');
}

@-moz-document url-prefix() { 
  .ff-raise {
     margin-top:-20px;
  }
}

/*Small screens*/
@media only screen { /* Define mobile styles */
	.shop_icon_resize{
		margin-top: -5px;
		margin-right: 3px;
		width:25px;
		height: 25px;
	}

	.red{
		color: red;
	}
	.logo > h1 > a {
		color: black;
		font-family: logo, helvetica;
	}
	.raise{
		margin-top: -10px;
	}
	.shop_icon_resize{
		margin-top: -5px;
		margin-right: 3px;
		width:25px;
		height: 25px;
	}

	.border-no-hr{
		border:solid 1px #000;
		margin-top: -25px;
	}
	.mobile-bigger-h1{
		font-size: 50px;
		display: inline;
		text-align: center;
	}

	.mobile-bigger-font > li > h6 {
		font-size: 20px;
	}

	.mobile-drop {
		margin-top: 20px;
		margin-bottom: 30px;
	}

	.center{
		margin: 0 auto 1.0625rem auto;
		margin-left: -1.375rem;
		margin-right: 0;
		padding: 0;
		list-style: none;
		text-align: center;
		overflow: hidden;
	}
	.move_icon_left > li > h6 > a > i {
		color: black;
		margin-right: 3px;
	}
	.h-center{
		text-align: center;
	}
	.footer{
		padding: 50px;
		background-color: #222;
	}

	.footer a{
		font-size: 15px;
		color: #fff;
	}

	.footer h4{
		color: #666;
		border-bottom: thin solid #555;
	}

	.icon-color > li > i {
		color: #fff;
	}

	.icon-color > li > i > a{
		font-size: 15px;
		color: #fff;
	}

	.inverse{
		background: #333;
		color: #fff;
	}
}

/*Medium screens*/
@media only screen and (min-width: 40.063em) { /* min-width 641px, medium screens */
	
	.inverse{
		background: #333;
		color: #fff;
	}

	.red{
		color: red;
	}
	.logo > h1 > a {
		color: black;
		font-family: logo, helvetica;
	}
	.raise{
		margin-top: -20px;
	}
	.shop_icon_resize{
		margin-top: -5px;
		margin-right: 3px;
		width:25px;
		height: 25px;
	}
	.black-icons > li > a > i {
		color: black;
	}
	.border-no-hr{
		border:solid 1px #000;
		margin-top: -25px;
	}
	.bigger-h1-font{
		font-size: 50px;
		display: inline;
	}
	.drop{
		margin-top: 32px;
	}
	.move_icon_left > li > h6 > a > i {
		color: black;
		margin-right: 3px;
	}
	.h-center{
		text-align: center;
	}

	.footer{
		padding-top: 50px;
		background-color: #222;
	}

	.footer a{
		font-size: 15px;
		color: #fff;
	}

	.footer a:hover{
		color: #000;
	}

	.footer h4{
		color: #666;
		border-bottom: thin solid #555;
	}

	.footer h4:hover{
		border-bottom: thin solid #000;
	}

	.icon-color > li > i {
		color: #fff;
	}

	.icon-color > li > i > a{
		font-size: 15px;
		color: #fff;
	}
}

/*Large screens*/
@media only screen and (min-width: 64.063em) { /* min-width 1025px, large screens */

	.inverse{
		background: #333;
		color: #fff;
	}

	.red{
		color: red;
	}
	.logo > h1 > a {
		color: black;
		font-family: logo, helvetica;
	}
	.raise{
		margin-top: -20px;
	}
	.shop_icon_resize{
		margin-top: -5px;
		margin-right: 3px;
		width:25px;
		height: 25px;
	}
	.border-no-hr{
		border:solid 1px #000;
		margin-top: -25px;
	}

	.bigger-h1-font{
		font-size: 50px;
		display: inline;
	}
	.drop{
		margin-top: 32px;
	}

	.move_icon_left > li > h6 > a > i {
		color: black;
		margin-right: 3px;
	}

	.h-center{
		text-align: center;
	}

	.space {
		margin: 0 -30px;
	}

	.carousel-drop {
   		margin-bottom: 0px;
	}


	.footer{
		padding: 50px;
		background-color: #222;
	}

	.footer a{
		font-size: 15px;
		color: #fff;
	}

	.footer a:hover{
		color: #5BACCF;
	}

	.footer h4{
		color: #888;
		border-bottom: thin solid #555;
	}

	.footer h4:hover{
		border-bottom: thin solid #000;
	}

	.icon-color > li > i {
		color: #fff;
	}

	.icon-color > li > i > a{
		font-size: 15px;
		color: #fff;
	}

/*	.top-bar{
		background-color: #a4a4a4; 
	}

	.top-bar-section li:not(.has-form) a:not(.button) {
		background: #a4a4a4;
	}

	.top-bar-section li.active:not(.has-form) a:not(.button) {
		background: #ff0000;
	}
	a {
		color: #FF001F;
	}*/
}

/*XLarge screens*/
@media only screen and (min-width: 90.063em) {  /* min-width 1441px, xlarge screens */

}

/*XXLarge screens*/
@media only screen and (min-width: 120.063em) { /* min-width 1921px, xxlarge screens */

}






